job: extension
config:
  name: last
  process:
  - type: diffusion_trainer
    training_folder: /app/checkpoints
    device: cuda
    network:
      type: lora
      linear: 128
      linear_alpha: 128
    save:
      dtype: bf16
      save_every: 200
      max_step_saves_to_keep: 4
      save_format: diffusers
    datasets:
    - folder_path: /dataset/images
      caption_ext: txt
      cache_latents_to_disk: true
      resolution: [512, 768, 1024]
      is_reg: false
    train:
      batch_size: 1
      steps: 1000
      lr: 0.0001
      optimizer: adamw8bit
      gradient_checkpointing: true
      gradient_accumulation_steps: 4
      noise_scheduler: flowmatch
      timestep_type: weighted
      dtype: bf16
      cache_text_embeddings: true
      train_unet: true
      train_text_encoder: false
      optimizer_params:
        weight_decay: 1e-4
      ema_config:
        use_ema: false
        ema_decay: 0.99
    model:
      name_or_path: /cache/models
      arch: qwen_image
      quantize: true
      qtype: float8
      quantize_te: true
      qtype_te: qfloat8
      low_vram: true
meta:
  name: qwen_image_lora
  version: '1.0'
